<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>
<mat-card class="center">
    <mat-card-header>
        <mat-card-title>
            <h2>
                <mat-icon>check_circle</mat-icon> Lista de tareas
            </h2>  
        </mat-card-title>
    </mat-card-header>
    <button (click)="crearTodo()" mat-fab color="primary" matTooltip="Crear Tarea" class="btn-crear">
        <mat-icon>add</mat-icon>
    </button>
    <mat-card-content>
        <mat-form-field style="margin-right: 10px"> 
            <input matInput placeholder="descripcion..." [(ngModel)]="descripcion" />
        </mat-form-field>
        <mat-form-field style="margin-right: 10px">
            <input matInput placeholder="id..." [(ngModel)]="id" />
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select>
              <mat-option *ngFor="let estado of estados" [value]="estado">
                {{estado}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="todos">
        <mat-list role="list" *ngFor="let todo of todos">
            <mat-list-item>
                <mat-icon matListAvatar>check_circle</mat-icon>
                <h4 matLine >{{ todo.descripcion }}</h4>
                <h5 matLine >Estado: {{ todo.estado }} </h5>
                <h5 class="pointer" (click)="descargarArchivo(todo.archivo, todo.nombreArchivo)">
                    {{ todo.nombreArchivo }}
                </h5>
                <button 
                    style="margin-left: 20px"
                    mat-mini-fab color="primary" 
                    matTooltip="Cambiar estado" 
                    (click)="cambiarEstado(todo._id, todo.estado)"
                > 
                    <mat-icon>edit</mat-icon>
                </button>
                <button 
                    style="margin-left: 2px" 
                    mat-mini-fab color="warn" 
                    matTooltip="Eliminar" 
                    (click)="eliminar(todo._id, todo.archivo)"
                >
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>